.info-projects {

  &__title {
    text-align: center;
    font-size: 22px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    
    &__author {
      flex-basis: 40%;
     }
  }

  &__flex-center {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 7%;
    width: 53%;
  }

  &__button-submit {
    width: 40%;
  }

  &__lable {
    color: rgba(0, 0, 0, 0.13);
  }
}
