<div>
  <ion-button fill="clear" (click)="openCalendar()" class="date-control__row__date-button">
    {{value | date:'d.M.y'}}
  </ion-button> 
</div>
<ion-datetime-button datetime="datetime" class="date-control__display_none"></ion-datetime-button>
<ion-modal [keepContentsMounted]="true" [isOpen]="showCalendar" (didDismiss)="cancelCalendar()">
  <ng-template>
    <ion-datetime
      id="datetime"
      presentation="date"
      [ngModel]="value"
      (ngModelChange)="updateValue($event)"
      [disabled]="disabled"
    >
    </ion-datetime> 
  </ng-template>
</ion-modal>
